.driversPage {
    width: 100%;
    text-align: center;
}

.driversPage_title {
    margin-bottom: 3rem;
}

.driversPage_title h2 {
    color: #b91c1c;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.driversPage_title p {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

