.driversPage {
  width: 100%;
  text-align: center;
}

.driversPage_title {
  margin-bottom: 3rem;
}

.driversPage_title h2 {
  color: #b91c1c;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.driversPage_title p {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.button {
  width: 15rem;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  border: none;
  border-radius: 9999px;
  color: white;
  background-color: #b91c1c;
  font-size: 1.125rem;
  font-weight: 600;
}

.button:hover {
  background-color: #991b1b;
  transition: 0.1s ease-in;
}
