# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Directorios de construcción
dist/
build/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Directorios de herramientas de desarrollo
coverage/